RewriteEngine On

# If the requested filename is not a file that exists...
RewriteCond %{REQUEST_FILENAME} !-f

# And it's not a directory that exists...
RewriteCond %{REQUEST_FILENAME} !-d


# Then rewrite the URL to index.php
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]